certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
grpcio==1.71.0
grpcio-tools==1.71.0
idna==3.10
natsort==8.4.0
overrides==7.7.0
protobuf==5.29.3
requests==2.32.4
robotframework==7.3
robotframework-assertion-engine==3.0.3
robotframework-browser==19.5.1
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
seedir==0.5.1
setuptools==80.9.0
urllib3==2.4.0
wrapt==1.17.2
