<div class="sloka-list" id="sloka-list" #slokaContainer>
  <div class="sloka-list-header">
    <h3>{{ chapterName }}</h3>
    <button (click)="togglePane()" class="toggle-pane-btn">☰ Options</button>
    <div class="sliding-pane" [class.visible]="isPaneVisible">
      <label>
        <input type="checkbox" [(ngModel)]="showSanskrit" (change)="onToggleSanskrit()"> Show Sanskrit
      </label>
      <!-- <label>
        <input type="checkbox" [(ngModel)]="showSandhi" [disabled]="!showSanskrit || !isSlokaGroupsReady"> Show Details
      </label> -->
    </div>
  </div>

  <div *ngIf="indices.length > 0">
    <ul>
      <ng-container *ngFor="let index of indices">
        <ng-container *ngIf="slokaData[index] as currentSlokaData">
          <li *ngIf="currentSlokaData.length > 1; else singleSlokaTemplate" class="sloka-placeholder" [attr.data-index]="index">
            <!-- Grouped Slokas -->
            <app-grouped-sloka
              [group]="currentSlokaData"
              [expandedSloka]="expandedSloka ?? -1"
              [chapterId]="chapterId"
              [showSanskrit]="showSanskrit"
              [showSandhi]="showSandhi"
              [isSlokaGroupsReady]="isSlokaGroupsReady"
              [slokas]="slokas"
              (toggleGroup)="toggleSlokaGroup($event)">
            </app-grouped-sloka>
          </li>

          <ng-template #singleSlokaTemplate>
            <li class="sloka-placeholder" [attr.data-index]="index">
              <!-- Single Sloka -->
              <app-single-sloka
                [index]="currentSlokaData[0]"
                [sloka]="slokas[currentSlokaData[0]]"
                [expandedSloka]="expandedSloka ?? -1"
                [chapterId]="chapterId"
                [showSanskrit]="showSanskrit"
                [showSandhi]="showSandhi"
                [isSlokaGroupsReady]="isSlokaGroupsReady"
                (slokaToggle)="toggleSloka(index)">
              </app-single-sloka>
            </li>
          </ng-template>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>