<div class="sloka-list" id="sloka-list" #slokaContainer>
  <div class="sloka-list-header">
    <h3>{{ chapterName }}</h3>
    <button (click)="togglePane()" class="toggle-pane-btn">☰ Options</button>
    <div class="sliding-pane" [class.visible]="isPaneVisible">
      <label>
        <input type="checkbox" [(ngModel)]="showSanskrit" (change)="onToggleSanskrit()"> Show Sanskrit
      </label>
      <!-- <label>
        <input type="checkbox" [(ngModel)]="showSandhi" [disabled]="!showSanskrit || !isSlokaGroupsReady"> Show Details
      </label> -->
    </div>
  </div>

  <div *ngIf="indices.length > 0">
    <ul>
      <ng-container *ngFor="let index of indices">
        <li class="sloka-placeholder" [attr.data-index]="index">
          <!-- Single Sloka -->
          <app-single-sloka [index]="index" [sloka]="slokas[index]" [expandedSloka]="expandedSloka ?? -1"
            [chapterId]="chapterId" [showSanskrit]="showSanskrit" [showSandhi]="showSandhi"
            [isSlokaGroupsReady]="isSlokaGroupsReady" (slokaToggle)="toggleSloka(index)">
          </app-single-sloka>
          <!-- Grouped Slokas -->
          <!-- <app-grouped-sloka [group]="slokaData[index]"
            [chapterId]="chapterId" [slokas]="slokas" [showSanskrit]="showSanskrit" [showSandhi]="showSandhi"
            [isSlokaGroupsReady]="isSlokaGroupsReady" (toggleGroup)="toggleSlokaGroup($event)">
          </app-grouped-sloka> -->
        </li>
      </ng-container>
    </ul>
  </div>
</div>