<div>
    <div *ngIf="showSanskrit && showSandhi && sanskritSandhi" class="card">
      <h4>सन्धिविग्रहः</h4>
      <pre class="custom-pre">{{sanskritSandhi}}</pre>
    </div>
    <div *ngIf="showSanskrit && showSandhi && sanskritAnvaya" class="card">
      <h4>अन्वयः</h4>
      <pre class="custom-pre">{{sanskritAnvaya}}</pre>
    </div>
    <div class="dropdown-container">
      <label for="slokaDropdown">Select Sloka:</label>
      <select id="slokaDropdown" [(ngModel)]="selectedSloka" (change)="onSlokaChange()">
        <option *ngFor="let slokaId of slokaGroup" [value]="slokaId">
          {{ getSlokaTitle(slokaId + 1) }}
        </option>
      </select>
    </div>
    <div *ngIf="selectedSloka" class="sloka-content">
      <div class="card">
        <h4>Shloka Meaning</h4>
        <ng-container *ngIf="slokaMeaning[selectedSloka]; else loading">
          <pre class="custom-pre">{{ slokaMeaning[selectedSloka] }}</pre>
        </ng-container>
      </div>
        <ng-template #loading>
          <pre class="custom-pre clickable">Loading meaning of sloka {{ selectedSloka }}...</pre>
        </ng-template>
      <div class="card">
        <h4>Shloka Audio</h4>
        <div class="audio">
          <audio #audioPlayer controls>
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </div>