{
  "openapi": "3.0.0",
  "info": {
    "title": "Bhagavad Gita API",
    "version": "1.0.0",
    "description": "API documentation for Bhagavad Gita application"
  },
  "servers": [
    {
      "url": "https://brave-hill-0370ef31e-development.westus2.6.azurestaticapps.net/api"
    }
  ],
  "paths": {
    "/chapterAudio/{chapterId}": {
      "get": {
        "summary": "Get the audio URL for a specific chapter",
        "description": "Returns the audio URL for the specified chapter of the Bhagavad Gita.",
        "parameters": [
          {
            "in": "path",
            "name": "chapterId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chapter (e.g., 1 for Chapter 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the audio URL for the chapter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL of the chapter audio.",
                      "example": "https://example.com/audio/chapter1.mp3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid chapter ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/chapterResource/{chapterId}": {
      "get": {
        "summary": "Get the chapter PDF resource URL for a specific chapter",
        "description": "Returns the chapter PDF resource URL for the specified chapter of the Bhagavad Gita.",
        "parameters": [
          {
            "in": "path",
            "name": "chapterId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chapter (e.g., 1 for Chapter 1)."
          },
          {
            "in": "query",
            "name": "content",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "sanskrit",
                "english",
                "tamil"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the audio URL for the chapter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL of the chapter resource."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid chapter ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/sloka/{chapterId}/{slokaIndex}": {
      "get": {
        "summary": "Get a specific sloka by chapter and index",
        "parameters": [
          {
            "in": "path",
            "name": "chapterId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chapter between 0 and 19"
          },
          {
            "in": "path",
            "name": "slokaIndex",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The index of the sloka"
          },
          {
            "in": "query",
            "name": "content",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "sanskrit",
                "english",
                "meaning"
              ]
            },
            "description": "The language of the sloka content. Default is 'english'."
          }
        ],
        "responses": {
          "200": {
            "description": "A sloka object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "The content of the sloka"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/slokaAudio/{chapterId}/{slokaId}": {
      "get": {
        "summary": "Get the audio URL for a specific chapter sloka",
        "description": "Returns the audio URL for the specified chapter's sloka of the Bhagavad Gita.",
        "parameters": [
          {
            "in": "path",
            "name": "chapterId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chapter (e.g., 1 for Chapter 1)."
          },
          {
            "in": "path",
            "name": "slokaId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the sloka (e.g., 1 for Sloka 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the audio URL for the chapter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL of the chapter audio.",
                      "example": "https://example.com/audio/chapter1.mp3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid chapter ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/slokaGroups/{chapterId}": {
      "get": {
        "summary": "Get the sloka grouping for a specific chapter",
        "description": "In Sanskrit, a group of slokas together convey the meaning intended by the author. This API returns the sloka grouping for the specified chapter of the Bhagavad Gita.",
        "parameters": [
          {
            "in": "path",
            "name": "chapterId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chapter (e.g., 1 for Chapter 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the audio URL for the chapter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "readiness": {
                      "type": "object",
                      "properties": {
                        "development": {
                          "type": "boolean",
                          "description": "Indicates if the chapter is in development.",
                          "example": true
                        },
                        "production": {
                          "type": "boolean",
                          "description": "Indicates if the chapter is in production.",
                          "example": false
                        }
                      }
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupId": {
                            "type": "integer",
                            "description": "The ID of the sloka group."
                          },
                          "slokas": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "description": "The ID of the sloka.",
                              "example": [
                                1,
                                2,
                                3
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid chapter ID."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "components": {},
  "tags": []
}